[flake8]
exclude = .git,__pycache__,docs/source/conf.py,old,build,dist,venv,migrations
max-complexity = 10
inline-quotes = "
import-order-style = google
max-line-length = 79
black-config = .black
application-import-names = users, groups, about, homepage, tasks, feedback